.slider {
	position: relative;
	margin: 0 auto;
	width: 100%;
	max-width: 1280px;
	font-size: 20px;
	color: white;
	background-color: #333333;
	transform: translate(0, 20%);
}
.slider__container {
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	padding: 30px 40px;
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
}

.item__container {
	max-width: 1000px;
	margin: 0 auto;
	display: flex;
}

.slider__item {
	max-width: 1000px;
	display: none;
	position: relative;
	top: 0;
	margin: 0 auto;
	width: 0%;
	right: -100%;
	animation: 100ms ease-in-out;
	/* z-index: 13;
	padding: 2em;
	margin: -2em; */
}

.active {
	top: 0;
	display: block;
	right: 0;
	width: 100%;
	max-width: 1000px;
}

img {
	border-radius: 20px;

	max-width: 1000px;
	height: auto;
	object-fit: cover;
}

.controls__container {
	margin: 0 auto;
	width: 100%;
	max-width: 1000px;
	display: flex;
	justify-content: space-between;
}

.slider__controls {
	width: 100%;
	max-width: 200px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.controls__item {
	width: 16px;
	height: 16px;
	background-color: #fff;
	border-radius: 50%;
	/* border: 8px solid black; */
	/* box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1); */
}
.controls__item:hover {
	background-color: violet;
}

.controls-active {
	background-color: violet;
}

.descriptions {
	position: relative;
	overflow: hidden;
	text-align: left;
	/* display: inline-block; */
	max-width: 320px;
	/* display: flex; */
}

.item__description {
	position: relative;
	display: none;
	right: -100%;
	width: 0;
}
.description-active {
	display: block;
	width: 100%;
	right: 0;
}

.to-left {
	/* left: -100%; */
	animation-name: left;
}

.from-right {
	/* right: 100%; */
	animation-direction: alternate;
	animation-name: right;
}

@media (max-width: 1080px) {
	.slider__container {
		max-width: 700px;
		padding: 30px 40px;
		font-size: 0.8em;
	}
	.controls__container {
		max-width: 768px;
	}
	.slider__controls {
		align-self: center;
		max-width: 130px;
	}

	.controls__item {
		width: 12px;
		height: 12px;
	}
	img {
		max-width: 768px;
	}
}

@media (max-width: 860px) {
	.slider__container {
		max-width: 650px;
		padding: 30px 40px;
		font-size: 0.8em;
	}
	/* .controls__container {
		flex-direction: column-reverse;
		row-gap: 1em;
	} */
	.slider__controls {
		align-self: center;
		max-width: 130px;
	}

	.controls__item {
		width: 12px;
		height: 12px;
	}
	img {
		max-width: 650px;
	}
}

@media (max-width: 750px) {
	.slider__container {
		max-width: 450px;
		padding: 30px 40px;
		font-size: 0.7em;
	}
	.controls__container {
		flex-direction: column-reverse;
		row-gap: 1em;
	}
	.slider__controls {
		align-self: center;
		max-width: 130px;
	}

	.controls__item {
		width: 12px;
		height: 12px;
	}
	img {
		max-width: 450px;
	}
}
@media (max-width: 550px) {
	.slider__container {
		max-width: 350px;
		padding: 30px 40px;
		font-size: 0.5em;
	}
	.controls__container {
		flex-direction: column-reverse;
		row-gap: 1em;
	}
	.slider__controls {
		align-self: center;
		max-width: 130px;
	}

	.controls__item {
		width: 12px;
		height: 12px;
	}
	img {
		max-width: 350px;
	}
}

@media (max-width: 450px) {
	.slider__container {
		/* max-width: 320px; */
		padding: 30px 40px;
		font-size: 0.5em;
	}
	.controls__container {
		flex-direction: column-reverse;
		row-gap: 1em;
	}
	.slider__controls {
		align-self: center;
		max-width: 130px;
	}

	.controls__item {
		width: 12px;
		height: 12px;
	}
	img {
		max-width: 320px;
		object-fit: contain;
	}
}

@keyframes left {
	from {
		left: 0;
	}
	to {
		left: -100%;
	}
}
@keyframes right {
	from {
		left: -100%;
	}
	to {
		left: 0;
	}
}
